<th scope="row">
  <img [src]="icon" class="img-fluid" alt="Channel Icon">
</th>
<td><input type="text" [value]="channel.ChannelNumber" size="5"></td>
<td><input type="text" [value]="channel.Title"></td>
<td>
  <ng-select [items]="videoTracks"
             bindLabel="Name"
             bindValue="ID"
             groupBy="VideoSourceName"
             [(ngModel)]="channel.VideoTrackID"
             [searchFn]="searchVideoTracks">
             <ng-template ng-label-tmp let-item="item">
               <img *ngIf="item.IconSource" [src]="item.IconSource" width="64"> {{item.VideoSourceName}} -> {{ item.Name }}
             </ng-template>
             <ng-template ng-option-tmp let-item="item">
               <img *ngIf="item.IconSource" [src]="item.IconSource" width="64"> {{ item.Name }}
             </ng-template>
  </ng-select>
</td>
<td>
  <ng-select [items]="guideChannels"
             bindLabel="PrettyDisplayNames"
             bindValue="ID"
             groupBy="GuideSourceName"
             [(ngModel)]="channel.GuideChannelID"
             [searchFn]="searchGuideChannels">
    <ng-template ng-label-tmp let-item="item">
      <img *ngIf="item.IconSource" [src]="item.IconSource" width="64"> {{item.GuideSourceName}} -> <span [innerHTML]="item.PrettyDisplayNames"></span>
    </ng-template>
    <ng-template ng-option-tmp let-item="item">
      <img *ngIf="item.IconSource" [src]="item.IconSource" width="64"> <span [innerHTML]="item.PrettyDisplayNames"></span>
    </ng-template>
  </ng-select>

</td>
<td><input type="checkbox" [checked]="channel.HD"></td>
<td><input type="checkbox" [checked]="channel.Favorite"></td>
<td><input type="checkbox" checked></td>
