<div class="table-header">
  <h6 class="table-header__heading"><i class="material-icons table-header__icon">live_tv</i>Video Providers</h6>
  <p class="table-header__body">Video providers are used by Telly to build a channel lineup to be served to Plex. Multiple providers can be added and used to create one or more lineups.</p>
</div>
<table class="table">
  <tbody>
    <tr *ngIf="providers === null">
      <td>
        <div class="loading"><div class="spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
      </td>
    </tr>
    <tr *ngIf="providers !== null && !providers.length">
      <td>
        <div class="alert alert-warning alert--icon-top alert--icon-top-small">
          <i class="material-icons">warning</i>
          <span class="alert__text">Seems you haven't added any video providers yet. Video providers are the source of your streams, you're nothing without them!</span>
        </div>
      </td>
    </tr>
    <tr *ngFor="let provider of providers">
      <td class="table__id align-middle"><label class="table__field-label table__field-label--small">ID:</label>{{ provider.ID | number: '2.0' }}</td>
      <td class="table__name align-middle">{{ provider.Name }}</td>
      <td class="table__actions align-middle">
        <a class="table__action pointer" (click)="editingProvider = provider"><i class="material-icons">edit</i></a>
        <a class="table__action table__action--delete pointer" (click)="removeProvider(provider)"><i class="material-icons">delete_forever</i></a>
      </td>
    </tr>
  </tbody>
</table>


<button class="btn btn-add mt-2 float-right"
(click)="addProvider()">Add Video Provider <i class="material-icons">library_add</i></button>

<app-edit-videoprovider-modal
  [newProvider]="addingProvider"
  [provider]="editingProvider"
  (close)="closeModal()"
  (create)="createProvider()"
  (save)="saveProvider()">
</app-edit-videoprovider-modal>
