<h4>Video Providers</h4>
<ul class="list-group chlist">
  <li *ngFor="let provider of providers" class="list-group-item">
    <span class="chlist__channel-number">{{ provider.ID }}</span>
    <span class="chlist__channel-name">{{ provider.Name }}</span>
    <span class="chlist__channel-actions">
      <a class="chlist__channel-action pointer" (click)="editingChannel = channel"><i class="material-icons">edit</i></a>
      <a class="chlist__channel-action chlist__channel-action--delete pointer" (click)="removeProvider(channel)"><i class="material-icons">delete_forever</i></a>
    </span>
  </li>
</ul>
<button class="btn btn-secondary mt-2 float-right"
(click)="addProvider()">Add Video Provider <i class="material-icons">library_add</i></button>

<app-edit-videoprovider-modal
  [newProvider]="addingProvider"
  [provider]="editingProvider"
  (close)="closeModal()"
  (create)="createProvider($event)">
</app-edit-videoprovider-modal>
