<div class="heading">
  <div class="container">
    <h1 class="page-heading">Lineup Manager Overview</h1>
    <p class="heading__sub">Add, remove, or update lines served by Telly</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary mb-4" (click)="addLineup()">Add New Lineup <i class="material-icons">add_to_queue</i></button>
      <table class="table chlist">
        <tbody>
          <tr *ngFor="let lineup of (lineups$ | async)">
            <!-- {{ channel | json }} -->
            <td class="table__id align-middle"><label class="table__field-label">ID:</label>{{ lineup.ID | number: '2.0' }}</td>

            <td class="table__name align-middle">{{ lineup.Name }}</td>
            <td class="table__actions align-middle">
              <a class="table__action pointer" (click)="refreshLineup(lineup.ID)"><i class="material-icons">refresh</i></a>
              <a class="table__action pointer" routerLink="/lineup/manage/{{ lineup.ID }}"><i class="material-icons">view_list</i></a>
              <a class="table__action pointer" (click)="void"><i class="material-icons">edit</i></a>
              <a class="table__action table__action--delete pointer" (click)="void"><i class="material-icons">delete_forever</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<app-lineup-edit-modal
  [newLineup]="addingLineup"
  [lineup]="editingLineup"
  (close)="editingLineup = undefined; addingLineup = false;"
  (create)="createLineup($event)">
</app-lineup-edit-modal>
