// Colors
$colors--aqua: #4ECDC4;
$colors--aqua-highlight: #6ff2e8;
$colors--black: #000000;
$colors--green: #4ecd85;
$colors--green-highlight: #70e5a3;
$colors--grey1: #dee2e6;
$colors--grey2: #c6c6c6;
$colors--grey3: #a5a5a5;
$colors--offwhite-0: #f9f9f9;
$colors--offwhite-1: #f2f2f2;
$colors--orange: #cd6c4e;
$colors--red: #e04343;
$colors--slate: #556270;
$colors--white: #ffffff;

// Fonts
$fonts--roboto: 'Roboto', sans-serif;
$fonts--sharetech: 'Share Tech Mono', monospace;
$fonts--signika: 'Signika', sans-serif;
