// Colors
$colors--aqua: #4ECDC4;
$colors--grey1: #dee2e6;
$colors--offwhite-0: #f9f9f9;
$colors--offwhite-1: #f2f2f2;
$colors--orange: #FA6900;
$colors--slate: #556270;

// Fonts
$fonts--roboto: 'Roboto', sans-serif;
$fonts--sharetech: 'Share Tech Mono', monospace;
$fonts--signika: 'Signika', sans-serif;
