/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~@ng-select/ng-select/themes/default.theme.css';
@import 'dragula.scss';
@import './vars';
@import './components/tables';

html, body {
  font-family: $fonts--roboto;
}

// Heading Tags (h1-h6)
.page-heading {
  align-items: center;
  color: $colors--slate;
  display: flex;
  flex-direction: row;
  font-family: 'Signika', sans-serif;
  margin: 0 0 3px;
  text-transform: uppercase;
}

.page-heading__no-transform {
  text-transform: none;
}

.page-heading__icon {
  align-items: center;
  background: $colors--white;
  border-radius: 100%;
  color: $colors--aqua;
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin: 0 10px 0 0;
  padding: 5px;
}

// Page Header
.header {
  position: relative;
  z-index: 100;
}

// Telly Logo
.logo {
  font-family: $fonts--signika;
  letter-spacing: 3px;
  outline: none;
  text-transform: uppercase;
}
.logo__image {
  margin: 0 5px 0 0;
  position: relative;
  top: -5px;
}

// Navigation
.navigation {
  height: 70px;
  font-family: $fonts--roboto;
  font-size: 0.7em;
  text-transform: uppercase;
}
.navigation__item {
  color: $colors--slate;
  height: 100%;
  border-left: 1px solid $colors--grey1;
  display: inline-block;
  padding: 27px 20px;
  transition: background 0.5s ease, color 0.5s ease;
  vertical-align: middle;

  &:hover {
    background: $colors--offwhite-1;
    color: $colors--aqua !important;
    text-decoration: none;

    svg {
      fill: $colors--aqua;
    }

  }
  // Sets sizes of inline SVGs in navigation items
  svg {
    width: 14px;
    height: 14px;
    transition: fill 0.5s ease
  }
}

// Page Heading/Subheading, displayed beneath header
.heading {
  background: $colors--offwhite-1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin: 0 0 20px;
  padding: 15px 0;

  h1 {
    font-size: 20px;
  }
}
.heading__sub {
  font-family: $fonts--roboto;
  font-size: 0.8em;
  margin: 0;
  opacity: 0.5;
}


/*
Bootstrap Overrides
 */

// Badge
.badge {
  border-radius: 0;
  font-family: $fonts--signika;
  padding: 0.29em 0.33em 0.15em;
  text-transform: uppercase;
}

.badge-primary {
  background: $colors--red;
}

// Buttons
.btn {
  border-radius: 2px;
  font-family: $fonts--signika;
  font-size: 0.8em;
  text-transform: uppercase;

  .material-icons {
    font-size: inherit;
    position: relative;
    top: 2px;
  }
}
.btn-primary {
  background-color: $colors--aqua;
  border-color: $colors--aqua;
  &:hover {
    background-color: $colors--aqua-highlight;
    border-color: $colors--aqua;
    color: $colors--slate;
  }
}

// Modals
.modal-content {
  border-radius: 2px;
}

.modal-title {
  font-family: $fonts--signika;
  text-transform: uppercase;
}

.modal {
  animation: test 0.25s ease 0s forwards;
  background: rgba(0, 0, 0, 0.25);
  display: block;
  opacity: 0;
}

.modal-dialog {
  animation: test1 0.25s ease 0.15s forwards;
  transform: translateY(-50px);
}

@keyframes test {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes test1 {
  0% { opacity: 0; }
  100% { opacity: 1; transform: translateY(0px); }
}

.modal-dialog {
  opacity: 0;
}


// Forms
label {
  font-family: $fonts--signika;
  font-size: 0.8em;
  text-transform: uppercase;
}
.form-control {
  border-radius: 0px;

  &:focus {
    border-color: $colors--orange;
    box-shadow: 0 0 0 0.2rem rgba(250, 105, 0, 0.25)
  }
}

// NG-Selected Overrides
.ng-select {
  .ng-select-container {
    border-radius: 0px;
  }
}

.ng-dropdown-panel {
  &.ng-select-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// Warnings
.alert {
  align-items: center;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: center;
  // Styles Material-Icons icons within alerts
  i {
    margin-left: 15px
  }
}


// Misc
.pointer {
  cursor: pointer;
}

.table {
  margin-bottom: 500px;
}

.modal-show {
  display: block;
  background-color: rgba(140, 140, 140, .6);
}
