<div class="table-header">
  <h6 class="table-header__heading"><i class="material-icons table-header__icon">ballot</i>Guide Providers</h6>
  <p class="table-header__body">Guide providers are used to build an XMLTV episode guide for the IPTV channels that Telly serves. Once configured, channels can be mapped to their corresponding guide data.</p>
</div>
<table class="table chlist">
  <tbody>
    <tr *ngFor="let provider of providers">
      <td class="table__id align-middle"><label class="table__field-label table__field-label--small">ID:</label>{{ provider.ID | number: '2.0' }}</td>
      <td class="table__name align-middle">{{ provider.Name }}</td>
      <td class="table__actions align-middle">
        <a class="table__action pointer" (click)="editingProvider = provider"><i class="material-icons">edit</i></a>
        <a class="table__action table__action--delete pointer" (click)="removeProvider(channel)"><i class="material-icons">delete_forever</i></a>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-secondary mt-2 float-right"
(click)="addProvider()">Add Guide Provider <i class="material-icons">library_add</i></button>

<app-edit-guideprovider-modal
  [newProvider]="addingProvider"
  [provider]="editingProvider"
  (close)="closeModal()"
  (create)="createProvider()">
</app-edit-guideprovider-modal>
