<div *ngIf="provider" class="modal modal-animate" tabindex="-1" id="providerEditModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="newProvider" class="modal-title" id="providerEditModal">Add Video Provider</h5>
        <h5 *ngIf="!newProvider" class="modal-title" id="providerEditModal">Edit Provider: {{ provider.Name }}</h5>
        <button type="button" class="close" (click)="this.close.emit()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #channelForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="provider.Name">
          </div>
          <div class="form-group">
            <label for="provider">Provider</label>
            <select class="custom-select" name="provider" [(ngModel)]="provider.Provider">
              <option value="Xtream">Xtream</option>
              <option value="M3U">M3U</option>
            </select>
          </div>
          <div *ngIf="provider.Provider == 'Xtream'" class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="hunter1" [(ngModel)]="provider.Username">
          </div>
          <div *ngIf="provider.Provider == 'Xtream'" class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="hunter2" [(ngModel)]="provider.Password">
          </div>
          <div *ngIf="provider.Provider == 'Xtream'" class="form-group">
            <label for="baseurl">Provider URL</label>
            <input type="url" class="form-control" id="baseurl" name="baseurl" placeholder="http://irislinks.net:83" [(ngModel)]="provider.BaseURL">
          </div>
          <div *ngIf="provider.Provider == 'M3U'" class="form-group">
            <label for="M3UURL">Path to or URL of M3U file</label>
            <input type="url" class="form-control" id="M3UURL" name="M3UURL" placeholder="Only for M3U" [(ngModel)]="provider.M3UURL">
          </div>
          <!-- TODO: Fix scrolling a modal -->
          <div *ngIf="provider.Provider == 'M3U'" class="form-group">
            <label for="NameKey">Key to use for channel name (e.g. <code>tvg-name</code>)</label>
            <input type="text" class="form-control" id="NameKey" name="NameKey" placeholder="tvg-name" [(ngModel)]="provider.NameKey">
          </div>
          <div *ngIf="provider.Provider == 'M3U'" class="form-group">
            <label for="LogoKey">Key to use for logo (e.g. <code>tvg-logo</code>)</label>
            <input type="text" class="form-control" id="LogoKey" name="LogoKey" placeholder="tvg-logo" [(ngModel)]="provider.LogoKey">
          </div>
          <div *ngIf="provider.Provider == 'M3U'" class="form-group">
            <label for="CategoryKey">Key to use for group name (e.g. <code>group-title</code>)</label>
            <input type="text" class="form-control" id="CategoryKey" name="CategoryKey" placeholder="group-title" [(ngModel)]="provider.CategoryKey">
          </div>
          <div *ngIf="provider.Provider == 'M3U'" class="form-group">
            <label for="EPGIDKey">Key to use for EPG ID (e.g. <code>tvg-id</code>)</label>
            <input type="text" class="form-control" id="EPGIDKey" name="EPGIDKey" placeholder="tvg-id" [(ngModel)]="provider.EPGIDKey">
          </div>
        </form>
      </div>
      <div *ngIf="newProvider" class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="this.close.emit()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="this.create.emit()">Add Provider</button>
      </div>
      <div *ngIf="!newProvider" class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="this.close.emit()">Close</button>
        <button type="button" class="btn btn-primary" (click)="this.save.emit()">Add Provider</button>
      </div>
    </div>
  </div>
</div>
