<div *ngIf="channel" class="modal fade show modal-show" id="channelEditModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="channelEditModal">Edit Channel: {{ channel.Title }}</h5>
        <button type="button" class="close" (click)="closeEditChannel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #channelForm="ngForm">
          <div class="form-group">
            <label for="guideChannel">Guide Channel</label>
            <ng-select [items]="guideChannels" bindLabel="PrettyDisplayName" bindValue="ID" groupBy="GuideSourceName" name="guideChannel" [(ngModel)]="channel.GuideChannelID"
              [searchFn]="searchGuideChannels">
              <ng-template ng-label-tmp let-item="item">
                {{item.GuideSourceName}} -> <span [innerHTML]="item.PrettyDisplayName"></span>
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                <span [innerHTML]="item.PrettyDisplayName"></span>
              </ng-template>
            </ng-select>
          </div>
          <div class="form-group">
            <label for="videoTrack">Video Track</label>
            <ng-select [items]="videoTracks" bindLabel="Name" bindValue="ID" groupBy="VideoSourceName" name="videoTrack" [(ngModel)]="channel.VideoTrackID"
              [searchFn]="searchVideoTracks">
              <ng-template ng-label-tmp let-item="item">
                <!-- FIXME: Don't hard code tvg-id, use providers package to determine field for EPG match key. -->
                {{item.VideoSourceName}} -> {{ item.Name }} <code *ngIf="item.Tags['tvg-id']">({{ item.Tags['tvg-id'] }})</code>
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                {{ item.Name }} <code *ngIf="item.Tags['tvg-id']">({{ item.Tags['tvg-id'] }})</code>
              </ng-template>
            </ng-select>
          </div>
          <div class="form-group">
            <label for="channelNumber">Channel Number</label>
            <input type="text" class="form-control" id="channelNumber" name="channelNumber" placeholder="Channel Number" [(ngModel)]="channel.ChannelNumber">
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" [(ngModel)]="channel.Title">
          </div>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" id="hd" name="hd" placeholder="HD" [(ngModel)]="channel.HD">
              <label class="form-check-label" for="hd">
                HD
              </label>
            </div>
            <div class="form-chec form-check-inline">
              <input type="checkbox" class="form-check-input" id="favorite" name="favorite" placeholder="Favorite" [(ngModel)]="channel.Favorite">
              <label class="form-check-label" for="favorite">
                Favorite
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <small>These changes will be saved when you save all your channels.</small>
        <button type="button" class="btn btn-primary" (click)="closeEditChannel()">Close</button>
      </div>
    </div>
  </div>
</div>
