<div *ngIf="lineup || newLineup" class="modal modal-animate" id="lineupEditModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="newLineup" class="modal-title" id="lineupEditModal">New Lineup</h5>
        <h5 *ngIf="!newLineup" class="modal-title" id="lineupEditModal">Edit Lineup: {{ lineup.Name }}</h5>
        <button type="button" class="close" (click)="closeEditLineup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #channelForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="name" [(ngModel)]="lineup.Name">
          </div>
          <div class="form-group">
            <label for="listenAddress">Listen Address</label>
            <input type="text" class="form-control" id="listenAddress" name="listenAddress" placeholder="listenAddress" [(ngModel)]="lineup.ListenAddress">
          </div>
          <div class="form-group">
            <label for="discoveryAddress">Discovery Address</label>
            <input type="text" class="form-control" id="discoveryAddress" name="discoveryAddress" placeholder="discoveryAddress" [(ngModel)]="lineup.DiscoveryAddress">
          </div>
          <div class="form-group">
            <label for="port">Port</label>
            <input type="number" class="form-control" id="port" name="port" placeholder="port" [(ngModel)]="lineup.Port">
          </div>
          <div class="form-group">
            <label for="tuners">Tuners</label>
            <input type="number" class="form-control" id="tuners" name="tuners" placeholder="tuners" [(ngModel)]="lineup.Tuners">
          </div>
        </form>
      </div>
      <div *ngIf="newLineup" class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEditLineup()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="createLineup()">Create Lineup</button>
      </div>
      <div *ngIf="!newLineup" class="modal-footer">
        <small>These changes will be saved when you save all your lineups.</small>
        <button type="button" class="btn btn-primary" (click)="closeEditLineup()">Close</button>
      </div>
    </div>
  </div>
</div>
