<div class="heading">
  <div class="container">
    <h1>Manage Lineup<span *ngIf="lineup">: {{ lineup.Name }}</span></h1>
    <p class="heading__sub">Add, remove, or update channel list information</p>
  </div>
</div>

<div class="container" *ngIf="lineup">
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary mb-4 float-right" (click)="addChannel()">Add Channel <i class="material-icons">add_to_queue</i></button>
      <ul class="list-group chlist" [dragula]="DRAGULA_NAME" [(dragulaModel)]='lineup.Channels'>
        <li *ngIf="!lineup.Channels || !(lineup.Channels.length > 0)" class="list-group-item">
          Click "ADD CHANNEL" to add your first channel to this lineup!
        </li>
        <li *ngFor="let channel of lineup.Channels" class="list-group-item">
          <span class="chlist__channel-number">{{ channel.ChannelNumber | number: '3.0-0' }}</span>
          <span class="chlist__channel-name">{{ channel.Title }} <span *ngIf="channel.HD" class="badge badge-primary float-right">HD</span><span *ngIf="channel.Favorite" class="badge badge-primary float-right">Favorite</span></span>
          <span class="chlist__channel-actions">
            <a *ngIf="channel.VideoTrack" class="chlist__channel-action pointer" [href]="channel.HDHR.URL"><i class="material-icons">play_arrow</i></a>
            <a class="chlist__channel-action pointer" (click)="editingChannel = channel"><i class="material-icons">edit</i></a>
            <a class="chlist__channel-action chlist__channel-action--delete pointer" (click)="removeChannel(channel)"><i class="material-icons">delete_forever</i></a>
          </span>
        </li>
      </ul>
      <button type="button" class="btn btn-primary mt-4 float-right" (click)="saveChannels()">Save all changes</button>
    </div>
  </div>
</div>

<app-channel-edit-modal
  [channel]="editingChannel"
  [videoTracks]="videoTracks$ | async"
  [guideChannels]="guideChannels$ | async"
  (close)="editingChannel = undefined">
</app-channel-edit-modal>
